*{
    padding: 0;
    margin: 0;
}

#logo{
    width: 12vh;
    padding: 5px;
    margin-left: 25px;

}
.Home-text, footer, .Sale-blockes, #Content-contact, #Goeder-lijst{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(90deg, #264653 0%, #2A988A 100%);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #2A988A; */
    background: linear-gradient(90deg, #264653 0%, #2A988A 100%);
    box-shadow: 0px 0px 5px black;
}
header input {
    width: 70vw;
    height: 5vh;
    font-size: 2.3vh;
    text-align: center;
}
.Logo-h1{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Highbright-Regular, Highbright;
    font-size: 5vw;
    background: linear-gradient(90deg, #EF9D61 0%, #E26F51 100%);
}
#burger-menu{
    font-size: 7vh;
    padding-left: 15px;
    padding-right: 30px;
    color:#EF9D61;
    text-shadow: 2px 2px 2px #6f523d;
}
#burger-menu:hover{
    color: white;
}
#burger-menu-panel {
    display: none;
    position: absolute;
    height: auto;
    background: linear-gradient(90deg, #EF9D61 0%, #E26F51 100%);
    /* border: 1px #1d3759 solid;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw; */
    /* border-top: 1px #1d3759 solid;
    border-bottom: 1px #1d3759 solid; */
    width: 100vw;
}

#burger-menu-panel a {
    font-size: 50px;
    background: linear-gradient(90deg, #EF9D61 0%, #E26F51 100%);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0%;
    user-select: none;
    font-family: Highbright-Regular, Highbright;
}

#burger-menu-panel a:hover, #burger-menu-panel a:focus {
    background: linear-gradient(90deg, #2A988A 0%, #2A988A 100%);
    color: black;
    box-shadow: 0px 0px 8px black; 
    position: relative;
}

#burger-menu-panel a:active {
    background-color: #474141
}
@media(max-width:450px) {
    #logo{
        width: 20vw;
    }
    #burger-menu{
        font-size: 15vw;
        padding-left: 15px;
        padding-right: 15px;
    }
    header input {
        width: 50vw;
        height: 5vh;
        font-size: 2.3vh;
        text-align: center;
    }
}
.Home-text{
    /* display: flex;
    justify-content: space-around; */
    background-color: white;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60vw;
    border-radius: 20px;
}
.Home-text img{
    /* margin-right: 15px; */
    border-radius: 10px;
    width: 60vw;
    height: 30vw;
    /* height:auto; */
    /* height: 250px; */
}
#Home-content{

}
.Sale-blockes{
    background-color: white;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    /* width: 60vw; */
    text-align: center;
    border-radius: 20px;
}
.Sale-blockes:hover{
    background: linear-gradient(90deg, #EF9D61 0%, #E26F51 100%);
    color: white;
}
.Sale-img{
    width: 20vw;
    border-radius: 10px;
}
.Sale-text{
    width: 20vw;
    font-size: 16px;
    text-align: left;
}
.sale-position{
    display: flex;
    justify-content: space-around;
}
.Sale-panels{
    display: flex; 
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
}
#Filteren{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 15px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* width: 60vw; */
    /* text-align: center; */
    border-radius: 20px;
    width: 15vw;
    padding: 25px;
}
.maat-str-1{
    display: flex;
    justify-content: space-between;
}
.maat-str-0{
    display: flex;
}
.maat-str-0 input, .maat-str-0 p, .maat-str-1 h4, #Filteren h2, #Filteren h3{
    margin: 10px;
}
#Goeder-lijst{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    width: 79vw;
}
.Goeder-blok{
    border: gray 1px solid;
    border-radius: 20px;
    margin: 20px;
    height: auto;
    width: 18vw;
}
.Goeder-blok img{
    width: 15vw;
    margin: 20px;
}
.Goeder-blok h4, .Goeder-blok p, .Goeder-blok h1{
    margin: 20px;
}
.Goeder-blok h1{
    color: #E26F51;
    text-align: right;
}
.Goeder-blok:hover{
    background: linear-gradient(90deg, #EF9D61 0%, #E26F51 100%);
    color: white;
}
.Goeder-blok:hover h1{
    color: white;
}

#Content-contact{
    /* display: flex;
    justify-content: space-around; */
    /* background-color: white; */
    background: linear-gradient(90deg, #EF9D61 0%, #E26F51 100%);
    color: white;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60vw;
    border-radius: 20px;
}
#Content-contact h1 {
    text-align: center;
    margin-bottom: 20px;
}
#verstuur{
    font-size: 50px;
    background: linear-gradient(90deg, #264653 0%, #2A988A 100%);
    border-radius: 15px;
    border: none;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
    color: white;
    text-align: center;
    text-decoration: none;
}
#verstuur:hover{
    background: linear-gradient(90deg,#d3ee82 0%, #EF9D61 100%);
    color: white;
    
}
.input-text{
    border-radius: 5px;
    height: 5vh;
    width: 25vw;
    background-color: #2A988A;
    border: solid 2px #264653;
}
#opmerkingen{
    margin-top: 15px;
    border-radius: 5px;
    height: 45vh;
    width: 25vw;
    background-color: #2A988A;
    border: solid 2px #264653;
}
.verstuur-item, .input-text{
    margin: 15px;
}


footer{
    display: flex;
    justify-content: space-around;
    color: white;
    background: linear-gradient(90deg, #EF9D61 0%, #E26F51 100%); 
}
footer h4{
margin: 25px; 
}



/* @media(min-width:450px) {
    .Home-text img{
        height: 250px;
    } 
}
@media(max-width:450px) {
    .Home-text{
        flex-direction: column;
    }
    .Home-text img{
        width: auto;
        height: auto;
        margin: 0;
    }
}
@media(min-width:2000px) {
    .Home-text img{
        height: 20vw;
    } 
} */